backend/txt/
backend/csv/
backend/xlsx/
backend/xls/
backend/index/
backend/__pycache__/
backend/.venv

frontend/node_modules/
frontend/.vite

.DS_Store
frontend/.DS_Store
backend/.DS_Store
**/.DS_Store
